/************************************
 *
 *  Main Styles to compile. Here only @imports!
 *
 ************************************/

@import "views/coupon";
@import "views/myWalletIndex";
.font12{
    font-size: 3vw;
}
.font14{
    font-size: 3vw;
}
.font16{
    font-size: 4.27vw;
}
.font17{
    font-size: 4.6vw;
}
.font18{
    font-size: 4.8vw;
}
.font19{
    font-size: 5.1vw;
}
.font31{
    font-size: 9vw;
}
.width100{
    font-size: 8vw;
}
