<ion-view>
    <ion-header-bar align-title="center" class="bar-calm">
        <button class="button button-icon ion-ios-arrow-back" ng-click="backToHome()"></button>
        <h1 class="title super-text">智慧人社通</h1>
    </ion-header-bar>

    <ion-content>
        <div class="ui-container">
            <img class="ui-404-img" src="images/common/404.png"></img>
            <div class="ui-404-text">页面找不到了</div>
            <div class="ui-404-text">返回再试一下吧~</div>
        </div>
    </ion-content>

</ion-view>
