<ion-view class="myWalletIndex">
    <div class="head">
        <div class="title-left" ng-click="home();">
            <span class="ion-ios-arrow-left fontion"></span>
        </div>
        <div class="title-cnt font17">
            <span>我的钱包</span>
        </div>
        <div class="title-right">
        </div>
    </div>
    <div class="content">
        <div class="cnt-top">
            <div class="cnt-top-left">
                <img src="images/myWallet/bank.png"/>
                <span class="font16 desc-title">银行卡</span>
            </div>
            <div class="cnt-top-left">
                <img src="images/myWallet/shebao.png"/>
                <span class="font16 desc-title">社保卡</span>
            </div>
            <div class="cnt-top-left" ng-click="jumpToCoupon();">
                <img src="images/myWallet/youhui.png"/>
                <span class="font16 desc-title">优惠券</span>
            </div>
        </div>
        <div class="cnt-bottom">
            <div class="cnt-bottom-left">
                <img src="images/myWallet/jifen.png"/>
                <span class="font16 desc-title">积分</span>
            </div>
            <div class="cnt-bottom-left">
                <img src="images/myWallet/service.png"/>
                <span class="font16 desc-title">服务包</span>
            </div>
            <div class="cnt-bottom-left">
                <img src="images/myWallet/myOrder.png"/>
                <span class="font16 desc-title">我的预约</span>
            </div>
        </div>
    </div>
</ion-view>
